.header {
	border-bottom: 1px solid rgba(84, 84, 84, 0.7);
	max-width: 880px;
	padding-bottom: 38px;
	margin: 45px auto 0;
	width: 100%;
}

@media (max-width: 400px) {
	.header {
		margin-top: 28px;
		max-width: 320px;
		padding-bottom: 28px;
	}
}